# Eat Safe, Love

## Part 1: Database and Jupyter Notebook Set Up

Import the data provided in the `establishments.json` file from your Terminal. Name the database `uk_food` and the collection `establishments`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with     
    ```shell
    mongoimport --type json -d uk_food -c establishments --drop --jsonArray establishments.json
    ```

In [4]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [5]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [6]:
# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'classDB', 'config', 'gardenDB', 'local']

In [13]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [14]:
# review the collections in our new database
print(db.list_collection_names())

[]

In [15]:
# review the collections in our new database
print(db.list_collection_names())

[]

In [16]:
# review a document in the establishments collection
print(db.establishments.find_one())

None

In [17]:
# assign the collection to a variable
establishments = db['establishments']

## Part 2: Update the Database

1. An exciting new halal restaurant just opened in Greenwich, but hasn't been rated yet. The magazine has asked you to include it in your analysis. Add the following restaurant "Penang Flavours" to the database.

In [18]:
# Create a dictionary for the new restaurant data
penang_flavours = {
    "BusinessName":"Penang Flavours",
    "BusinessType":"Restaurant/Cafe/Canteen",
    "BusinessTypeID":"",
    "AddressLine1":"Penang Flavours",
    "AddressLine2":"146A Plumstead Rd",
    "AddressLine3":"London",
    "AddressLine4":"",
    "PostCode":"SE18 7DY",
    "Phone":"",
    "LocalAuthorityCode":"511",
    "LocalAuthorityName":"Greenwich",
    "LocalAuthorityWebSite":"http://www.royalgreenwich.gov.uk",
    "LocalAuthorityEmailAddress":"health@royalgreenwich.gov.uk",
    "scores":{
        "Hygiene":"",
        "Structural":"",
        "ConfidenceInManagement":""
    },
    "SchemeType":"FHRS",
    "geocode":{
        "longitude":"0.08384000",
        "latitude":"51.49014200"
    },
    "RightToReply":"",
    "Distance":4623.9723280747176,
    "NewRatingPending":True
}

In [ ]:
# Insert the new restaurant into the collection
db.establishments.insert_one(penang_flavours)

In [ ]:
# Check that the new restaurant was inserted
print(db.establishments.find_one('restaurant':"Penang Flavours"))

# See the data in collection
establishments = db.establishments.find()
for data in establishments:
    print(data)

2. Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the `BusinessTypeID` and `BusinessType` fields.

In [ ]:
# Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the BusinessTypeID and BusinessType fields
query = {'BusinessTypeID':{'$in': ["Restaurant","Cafe","Canteen"]}}
field= {BusinessTypeID:1, BusinessType:1}

results = customers.find(query, field)
for result in establishments:
    print(result)

3. Update the new restaurant with the `BusinessTypeID` you found.

In [ ]:
# Update the new restaurant with the correct BusinessTypeID
db.establishments.update_one({"BusinessName":"Penang Flavours"},{'$set':})
    ```shell
    db.ohio_daily_records.updateMany({}, [ {'$set':{ "CO.DAILY_AQI_VALUE" : {'$toInt': "$CO.DAILY_AQI_VALUE"}}} ])
    ```

In [ ]:
# Confirm that the new restaurant was updated
print(db.establishments.find_one('restaurant':"Penang Flavours"))

4. The magazine is not interested in any establishments in Dover, so check how many documents contain the Dover Local Authority. Then, remove any establishments within the Dover Local Authority from the database, and check the number of documents to ensure they were deleted.

In [ ]:
# Find how many documents have LocalAuthorityName as "Dover"
query = {'LocalAuthorityName': 'Dover'}
results = customer_list.find(query)
for result in results:
    print(result)

In [ ]:
# Delete all documents where LocalAuthorityName is "Dover"
establishments.delete_many(query)
results = customer_list.find(query)
for result in results:
    print(result)

In [ ]:
# Check if any remaining documents include Dover
db.establishments.find({"LocalAuthorityName":"Dover"})

query = {'LocalAuthorityName': 'Dover'}
results = customer_list.find(query)
for result in results:
    print(result)

In [ ]:
# Check that other documents remain with 'find_one'
db.establishments.find_one()

5. Some of the number values are stored as strings, when they should be stored as numbers.

Use `update_many` to convert `latitude` and `longitude` to decimal numbers.

In [ ]:
# Change the data type from String to Decimal for longitude and latitude
collection.update_many({}, [{"$set": {"latitude": {"$toDouble": "$latitude"},"longitude": {"$toDouble": "$longitude"}}}])

Use `update_many` to convert `RatingValue` to integer numbers.

In [ ]:
# Set non 1-5 Rating Values to Null
non_ratings = ["AwaitingInspection", "Awaiting Inspection", "AwaitingPublication", "Pass", "Exempt"]
establishments.update_many({"RatingValue": {"$in": non_ratings}}, [ {'$set':{ "RatingValue" : None}} ])

In [19]:
# Change the data type from String to Integer for RatingValue
establishments.update_many({}, {"$set": {"RatingValue": {"$toInt": "$RatingValue"}}})

In [ ]:
# Check that the coordinates and rating value are now numbers
query = {"$or": [{"coordinates": {"$type": "number"}},{"rating_value": {"$type": "number"}}]}

count = collection.count_documents(query)

print(f"Number of documents where coordinates or rating value are numbers: {count}")